@model UserForm

@{
    Layout = "Adminlayout";
}

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h3>Add User</h3>
            </div>

            <div class="card-body">
                <form enctype="multipart/form-data" method="post" action="Create">
                    <div class="mb-3">
                        <label>Username</label>
                        <input type="text" name="username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label>Password</label>
                        <input type="text" name="Password" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label>Fullname</label>
                        <input type="text" name="Fullname" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label>Role</label>
                        <select asp-for="Role" asp-items="@ViewBag.Roles"
                            class="form-control">
                            <option>Pilih Role</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label>Photo</label>
                        <input type="file" name="Photo" class="form-control"
                               accept=".png,.jpg,.jpeg" />
                        <span asp-validation-for="Photo" class="text-danger"></span>

                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-success">
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>